include header/_header.pug
include logo/_logo.pug
include scrol/_scrol.pug
include whatWeDo/_whatWeDo.pug
include latestNews/_latestNews.pug
include gallery/_gallery.pug
include futer/_futer.pug
include slider/_slider.pug
include map/_map.pug
include contact/_contact.pug
include button/_button.pug
include form/_form.pug